.reasons {
	min-height: 850px;
	padding: 21px 20px 65px;

	&__label {
		margin-bottom: 30px;
	}

	&__title {
		margin-bottom: 16px;
	}

	&__subtitle {
		text-align: left;
		margin-bottom: 10px;
	}

	&__wrapper {
		display: grid;
		grid-template: repeat(auto-fill, minmax(150px, auto))/repeat(auto-fill, minmax(auto, calc(370px + 25px + 116px)));
		gap: 40px 70px;
		justify-content: center;
	}

	&__cell {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__icon {
		width: 116px;
		height: 116px;
		margin-right: 25px;
		border-radius: 50%;
		background: $skyBLue;
		display: flex;
		justify-content: center;
		align-items: center;

		img {
			max-width: 85px;
			max-height: 80px;
			user-select: none;
		}
	}

	&__text {
		max-width: 370px;
		min-height: 150px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__descr {
		font-weight: 300;
		font-size: 15px;
		line-height: 21px;
		text-align: left;
		color: $black;
	}
}