.title {
	font-weight: 700;
	font-size: 38px;
	line-height: 48px;
	text-align: center;
	text-transform: uppercase;
	color: $black;
}

.subtitle {
	font-weight: 400;
	font-size: 17px;
	line-height: 21px;
	color: $skyBLue;
	text-align: center;
}