.button {
	background: linear-gradient(0deg, $skyBLue 0%, $lightSkyBLue 100%);
	box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
	border-radius: 4px;
	font-weight: 400;
	font-size: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
	color: $white;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
	cursor: pointer;
	transition: all 0.3s;
	user-select: none;

	&:hover {
		transform: scale(1.04);
		box-shadow: 3px 3px 10px white;
	}

	&:active {
		transform: scale(0.96);
		color: rgb(235, 235, 235);
		box-shadow: 3px 3px 10px rgb(216, 215, 215);
	}
}